* {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}
img {
    max-width: 100%;
}