html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
}

main {
    display: grid;
    grid-template-areas: "logo"
        "hero"
        "footer";
    height: 100vh;
    font-family: var(--font-family-paragraph);
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
}

/* LOGO */
.logo {
    grid-area: logo;
    margin: 40px;
}

/* HERO */
.hero {
    grid-area: hero;
    display: flex;
    margin: 4rem;
    align-items: flex-start;
    justify-content: center;
}

.hero .imagem {
    margin-right: 3%;
    height: 100%;
}

.introducao .titulo {
    color: var(--color-font);
    font-family: var(--font-family-heading);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 35px;
}

.introducao .info {
    color: var(--color-font);
    font-size: 1.5rem;
}

.introducao .botao {
    color: var(--bg-color);
    border-radius: 40px;
    margin: 4rem;
    width: 15rem;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: var(--font-family-paragraph);
}

.introducao .botao:hover{
    background-color: var(--color-hover);
    color: var(--color-font);
}

/* FOOTER */
.footer {
    grid-area: footer;
}

.icon-social{
    display: flex;
    flex-direction: row-reverse;
}


.icon-social ul {
    display: flex;
    margin-right: 3rem;
}

.icon-social li {
    margin: 0.4rem;
    font-size: 2rem;
    color: var(--color-font);
    padding: 1rem;
    transition: 0.5s ease-in;
    margin-right: 2rem;
}

.icon-social a {
    color: var(--color-font);
    transition: 0.5s ease-in;
    border: thin solid;
    border-radius: 100%;
    padding: 1rem;
}

.icon-social i{
    text-align: center;
    width: 20px;
}

.icon-social a:hover {
    color: var(--color-hover);
}

.footer p {
    font-size: 1.1rem;
    text-align: center;
    color: var(--color-font);
    background-color: var(--bg-color-front-end-mentor);
}

.footer p a {
    background-color: var();
    color: var(--color-front-end-mentor);
}